.link-social {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link-social a {
  background-color: hsl(0, 0%, 30%);
  border: none;
  border-radius: 5px;
  color: hsl(0, 0%, 95%);
  padding: 10px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.link-social a:hover {
  background-color: hsl(75, 60%, 45%);
  color: hsl(0, 0%, 0%);
  font-weight: 700;
}
