/* Global conf */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "./variable";
@import "./function"; 
@import "./linksocial";
@import "./professional";
@import "./display";

body {
  @include center-flex;
  background-color: hsl(210, 20%, 5%);
  color: $whitedefined;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  min-height: 100vh;
}

.attribution {
  @include font-style($icedefined, 11px);
  margin-top: 10px;
  text-align: center;
}

.description {
  @include font-style($icedefined, 14px);
  line-height: 1.6;
  margin-bottom: 15px;
}

.location {
  @include font-style($grassdefined, 14px);
  margin-bottom: 15px;
}

.title {
  @include font-style($grassdefined, 1.5rem, 700);
  margin-bottom: 5px;
  margin-top: 10px;
  
}
